<div class="column is-7">
    <div class="block homeblock">

    <h1>Sang-un Youn</h1>
    <h5>Reporter for Joongang Ilbo</h5>
    <p><h1>　</h1>
        <h4>EDUCATION</h4>
        <div class='columns'>
            <div class='column is-2'>2011 - 2019</div><div class='column is-5'><b>Hankuk University of Foreign Studies</b><br>B.A. in English Literature<br>Double Major in International Relations</div>
        </div>
    </p>
    
    <p><h3>　</h3>
        <h4>PROFESSIONAL APPOINTMENTS</h4>
        <div class='columns'>
            <div class='column is-2'>2018.12 - </div><div class='column'><b>Reporter</b><br><i>Joongang Ilbo</i><br>Seoul, South Korea</div>
        </div>
        <div class='columns'>
            <div class='column is-2'>2018.05 - 2018.12</div><div class='column'><b>Freelance Producer</b><br><i>Al Jazeera Media Network</i><br><i>Seoul, South Korea</i><br>-Produced live coverage and extensive research and updates on Korea and Japan<br></div>
        </div>
        <div class='columns'>
            <div class='column is-2'>2018.02 </div><div class='column'><b>Local Fixer and Freelance Producer</b><br><i>ABC News PeongChang Winter Olympics Team</i><br><i>PyeongChang, South Korea</i><br>-Local Fixer for Good Morning America and World News with David Muir <br>-Local Associate Producer, providing logistics for ABC News Coverage of 2018 PyeongChang Winter Olympics</div>
        </div>
        <div class='columns'>
            <div class='column is-2'>2017.03 - 2017.08 </div><div class='column'><b>Intern Reporter</b><br><i>Seoul Economics Daily</i><br><i>Seoul, South Korea</i><br>Provided assistance to local reports covering regional news</div>
        </div>
        <div class='columns'>
            <div class='column is-2'>2016.08 - 2017.01 </div><div class='column'><b>Intern Reporter</b><br><i>ABC News</i><br><i>Seoul, South Korea</i></div>
        </div>
            
    </p>

    </div>
</div>