<div class="block">
    <h1>Writings List</h1>
    
    <p>This page offers my sample writings upon various topics that includes International Relations, Finance, and Journalism.
    The writings below were never submitted to any kind of academic journals, as it only intends to keep score of the writer's skills of logical thinking, academic writing and basic knowledge on each matters and subjects.</p>
    <p>Please be noted that all the writings and opinions belong to the author himself, not the company and organziation he is working for. </p>
    </div>