<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Arimo:wght@700&display=swap" rel="stylesheet">

<div class="home-intro">
    <div class="home-sub-text">
        <style>
            h1{
                font-family: 'Arimo', sans-serif;
                font-size: 140px;
            }
        </style>

        <h7>
            Reporter for <i>Joongang Ilbo</i> in South Korea.
        </h7> 
            <br><h7>Social Media:
                &nbsp; <a href='https://www.facebook.com/ysudream'><img src='../assets/img/fb.png'></img></a>
                &nbsp; <a href='https://www.instagram.com/sangunyoun/'><img src='../assets/img/inst.png'></img></a>
                &nbsp; <a href='https://medium.com/@sanguny'><img src='../assets/img/med.png'></img></a>
            
            
            </h7>
</div> </div>

