<div class="home-intro">
    <div class="home-sub-text">
        <h7>
            Reporter for <i>Joongang Ilbo</i> in South Korea.
            <br>Enthusiastic Realist.
        </h7> 
            <br><h7>Social Media:
                &nbsp; <a href='https://www.facebook.com/ysudream'><img src='../assets/img/fb.png'></img></a>
                &nbsp; <a href='#'><img src='../assets/img/inst.png'></img></a>
                &nbsp; <a href='https://medium.com/@sanguny'><img src='../assets/img/med.png'></img></a>
            
            
            </h7>
</div> </div>

