<div class="column is-7">
    <div class="block homeblock">

        <div class='column is-6'>
            <h4>Sang-un Youn</h4>
            <br>Hard worker, dreamer, and a realist
            <br><i>Reporter</i>
            <br><i>Joongang Ilbo, South Korea</i>
            <br>　
            <br>
            <a href='https://www.facebook.com/ysudream' target='_blank' rel='noopener noreferrer'><img src='../img/face_icon2.png'></a>&nbsp;&nbsp;&nbsp;
            <a href='https://www.instagram.com/sangunyoun/' target='_blank' rel='noopener noreferrer'><img src='../img/insta_icon2.png'></a>
            &nbsp;
            <a href='https://twitter.com/SangunYoun' target='_blank' rel='noopener noreferrer'><img src='../img/twitter_icon2.png'></a>
            &nbsp;
            <a href='https://medium.com/@SangUnYoun' target='_blank' rel='noopener noreferrer'><img src='../img/medium_icon.png'></a></p>
        </div>
        <div class='column'><p>
        </div>
    
    
    </div>
</div>