<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv='cache-control' content='no-cache'> 
    <meta http-equiv='expires' content='0'> 
    <meta http-equiv='pragma' content='no-cache'>
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="Hiran Venugopalan" property="og:site_name" />
    <meta
        content="Product and Type Designer | UI UX | Design Mentoring"
        property="og:description">
    <meta content="{{ site.url }}/about/" property="article:author">
    <meta property="og:image" content="../assets/img/OGImg.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;600&display=swap"
        rel="stylesheet">
    {%- if page.title -%}
    <meta content="{{ page.title }}" property="og:title">
    <meta content="article" property="og:type">
    <meta content="{{ site.url }}{{ page.url }}" property="og:url">
    {%- else -%}
    <meta content="website" property="og:type">
    <meta content="{{ site.url }}{{ page.url }}" property="og:url">
    {%- endif -%}

    <title>{{site.heading}}</title>
    <script data-host="https://microanalytics.io" data-dnt="false" src="https://microanalytics.io/js/script.js" id="ZwSg9rf6GA" async defer></script>
    <link rel="canonical" href="{{site.url}}{{page.url}}" />
    <link rel="apple-touch-icon" href="{{ site.baseurl }}/assets/img/profile.png">
    <link rel="icon" href="{{ site.baseurl }}/assets/img/favicon.png" type="image/png" sizes="16x16" />
    <link href="{{ site.baseurl }}/assets/css/style.css" rel="stylesheet" media="all" class="default" />
    <link href="{{ site.baseurl }}/assets/css/main.css" rel="stylesheet" media="all" class="default" />
    <link href="{{ site.baseurl }}/assets/css/Util.css" rel="stylesheet" media="all" class="default" />
    <link href="{{ site.baseurl }}/assets/css/vendor/Katex.css" rel="stylesheet" media="all" class="default" />

    <!--[if IE]>
        <link href="/assets/css/ie-target.css" rel="stylesheet" type="text/css"/>
    <![endif]-->
    <!--<link href="/assets/css/prism.css" rel="stylesheet" />-->
    <link rel="alternate" type="application/rss+xml" href="{{ site.url }}/feed.xml">
</head>

<body>
    <main>
    {%- include Nav.html -%}
    <section class="section">
        <div class="columns is-centered">

            <!-- Homepage Layout-->
            {%- if page.permalink == "/" -%}
            <div class="column is-8-widescreen  is-8-desktop is-8-tablet is-12-mobile">
                    {%- if site.preferences.homepage.enabled -%}
                            <!--- Show Homepage -->
                            {%- include Homepage.html -%}
                    {%- else -%}
                            <!--- Show Feed Part -->
                <div class="column is-6-widescreen  is-8-desktop is-8-tablet is-12-mobile">
                            <h5 class="meta-title"><a href="/">← Home</a></h5>
                            <div class="jumbo">{{page.title}}</div>
                            {%- include FeedContent.html -%}
                            {%- include Feed.html -%}
                </div>
                    {%- endif -%}
            </div>
            {%- endif -%}


            <!--- Post Feed Layout-->
            {%- if page.permalink == "/search" -%}
            <div class="column is-6-widescreen  is-8-desktop is-8-tablet is-12-mobile">
              <input class="input is-medium" type="text" placeholder="Search notes.." id="search-input" autocomplete="off">
              <div id="search-results" class="search-results"></div>
              <p></p><p></p>
              </div>
              <script type="text/javascript" src="{{ site.baseurl }}/assets/js/vendor/lunr.min.js"></script>
              <script src="{{ site.baseurl }}/assets/js/Search.js"></script>

            </div> 

            <ul>
                
            {%- endif -%}
        </div>
    </section>   
    {%- include Footer.html -%}             
</main>
</body>
</html>